@media (max-width: 568px) {
	.site-header {
		float: none;
		width: 100%;
		height: 110px;
		height: 297px; 
		position: static;
	}

	.logo {
		height: 52px;
		text-indent:-9999px;
		background:url(http://www.markdavidcatering.com/images/logo-mobile.png) no-repeat;
		background-position: center center;
		margin-top: 20px;
		width: 100%;
	}

	.header-nav {
		font-size: 10px;
		height: 110px;
		margin-top: 20px;
	}

	ul.menu-pages, ul.menu-social {
		float: left;
		margin: 6px 0 0 0;
		padding: 0;
		font: 14px estiloregular, Arial, Helvetica, sans-serif;
	}

	ul.menu-pages li, ul.menu-social li {
		list-style: none;
		margin: 7px 0;
	}

	ul.menu-pages a {
		color: #fff;
	}

	ul.menu-pages {
		margin: 14px 0 0 0;
		text-transform: uppercase;
	}

	.home-gallery, .home-gallery > div, .home-gallery p {
		margin: 0px;
	}

	body.page-template-home-php figure img {
		position: relative;
		height: auto;	
		margin: 0;
		max-width: 100%;
	}

	.home-img-caption {
		position: relative;
		font-size: 11px;
	}

	.slogan {
		font: 18px/20px estiloregular, Arial, Helvetica, sans-serif;
		color: #5a456f;
		text-transform: uppercase;
		display: block;
		text-align: center;
		margin-top: 35px;
	}

	.site-content {
		float: none;
		position: static;
		left: 0;
		height: auto;
	}	

	body.page-template-home-php figure figcaption {
		height: 100px;
	}

	.site-main, .content-area, .home-gallery, .home-gallery > .entry-content {
		position: static;
		width: 100%;
	}

	body.page-template-home-php figure {
		width: 33.33% !important;
	}

}